theme "lucario"

layout {
    pane split_direction="horizontal" {
        pane {
            name "server"
            command "zsh"
            args "run_server"
        }
//        pane {
//            command "zsh"
//            args "run_admin"
//        }
        pane {
            command "zsh"
            args "run_client.sh"
        }
        pane {
            focus true
            command "zsh"
            args "run_client.sh"
        }
        pane {
            command "zsh"
            args "run_client.sh"
        }
    }
}